# Neuro SAN
neuro-san==0.6.23
nsflow==0.6.5

# For the airline_policy demo, to extract text from documents
pypdf>=6.1.3

# To use a .env file for environment variables
python-dotenv==1.0.1

# For asynchronous file operations
aiofiles>=24.1.0

# For MCP servers and clients
langchain-mcp-adapters>=0.1.7

# Neuro-SAN now requires explicit installation of langchain LLM providers' libs
langchain-anthropic>=0.3.11,<0.4

# For rich logging
rich>=14.2.0

# For the HTML agent-network graph generator
pyvis~=0.3.2
